<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name=".PomodoroNoti"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.J1StudentConnect"
        tools:targetApi="31">
        <activity
            android:name=".TextRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".CameraViewActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".FaceRecognitionActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- LoginLauncher -->
        <activity
            android:name=".authentication.LoginLauncher"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:exported="true" /> <!-- Login -->
        <activity
            android:name=".authentication.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Register -->
        <activity
            android:name=".authentication.Register"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- ForgotPassword -->
        <activity
            android:name=".authentication.ForgotPassword"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Search -->
        <activity
            android:name=".Search"
            android:exported="true" /> <!-- Profile -->
        <!-- <activity -->
        <!-- android:name=".Profile" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Theme.Material3.Light.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> &lt;!&ndash; EditProfile &ndash;&gt; -->
        <activity
            android:name=".EditProfile"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Calendar -->
        <activity android:name=".Calendar" /> <!-- Grades -->
        <activity android:name=".Grades" /> <!-- Courses -->
        <activity android:name=".Courses" /> <!-- Request -->
        <activity android:name=".RequestAdd" />
        <activity android:name=".RequestProcessing" />
        <activity
            android:name=".PomodoroActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>